.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
dist/
docs/
node_modules/
npm-debug.*
Thumbs.db

package-lock.json
package.json
webpack.config.js
tailwind.config.js
postcss.config.js
